-- https://adventofcode.com/2021/day/{{day}}
module AoC.Day{{day}} where

import ReadFile

puzzle1 :: String -> IO Int
puzzle1 path = do
  error "Finish this!"

puzzle2 :: String -> IO Int
puzzle2 path = do
  error "Finish this!"
